/* General page styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFD7C4;
    color: #2A2A2A;
    margin: 0;
    padding: 0;
}

/* Navigation bar */
nav {
    background-color: #7695FF;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

nav a:hover {
    background-color: #9DBDFF;
    color: #fff;
}

/* Post card */
.profile-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
}

.profile-details span {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.profile-details img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.profile-details p {
    color: #2A2A2A;
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Like and Comment form */
form {
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #FF9874;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #FF9874;
    opacity: 0.8;
}

/* Comment form styling */
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #7695FF;
    border-radius: 10px;
    font-size: 1em;
    resize: none;
}

/* Comments section */
.comments-section {
    text-align: left;
    margin-top: 15px;
}

.comments-section h4 {
    color: #7695FF;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.comments-section ul {
    list-style-type: none;
    padding-left: 0;
}

.comments-section ul li {
    background-color: #9DBDFF;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #2A2A2A;
}
