<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Post</title>
    <link rel="stylesheet" type="text/css" th:href="@{/profile.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <span th:text="${session.username}"></span>
        <a href="/goHome"><i class="fas fa-home"></i> News feed</a>
        <a href="/openCreatePost"><i class="fas fa-plus-circle"></i> Create post</a>
        <a href="/openMyProfile"><i class="fas fa-user-circle"></i> My profile</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i> LOG OUT</a>
    </nav>

    <div class="post-form-container">
        <h2>Create a New Post</h2>
        <form id="profileForm" action="/createPost" method="post" enctype="multipart/form-data">
            <textarea name="caption" placeholder="Write your caption here..." required></textarea>
            <br><br>
            <input type="file" name="photo" accept="image/*" />
            <br><br>
            <button type="submit">POST</button>
        </form>
    </div>
</body>
</html>
