<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KodBook Home</title>
		<link rel="stylesheet" type="text/css" th:href="@{/profile.css}">
	</head>
	<body>
		<nav>
			<a href="#">News feed</a>
			<a href="/openCreatePost">Create post</a>
			<a href="#">My profile</a>
		</nav>
		
		<h1>Home!</h1>
		
		<h1>Post Details</h1>
	    <div class="profile-details">
		    <span th:each="post:${allPosts}">
		        <p><strong>Photo:</strong></p>
		        <img th:if="${post.photoBase64}" 
		            th:src="'data:image/jpeg;base64,' + ${post.photoBase64}" 
		            alt="Profile Photo" />
		        <p><strong>Caption:</strong> 
		            <span th:text="${post.caption}"></span></p>
	      </span>  
        </div>
	</body>
</html>
