<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KodBook</title>
		<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
	</head>
	<body>
		<h1>KodBook</h1>
		<h3>#1 Social media app!</h3>
		<hr>
		<form action="/login" method="post">
			<label>USERNAME : </label>
			<input type = "text" name = "username">
			<br><br>
			
			<label>PASSWORD : </label>
			<input type = "password" name = "password">
			<br><br>
			
			<input type="submit" value = "LOGIN">
			<hr>
			<a href = "/openResetPassword">Forgot password?</a>
			<a href = "/openSignUp">Create new account</a>
		</form>
	</body>
</html>