<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KodBook Sign up</title>
		<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
	</head>
	<body>
		<h1>KodBook</h1>
		<h3>Create account on #1 Social media app!</h3>
		<hr>
		<form action="/signUp" method="post">
			<label>USERNAME : </label>
			<input type = "text" name = "username">
			<br><br>
			<label>EMAIL : </label>
			<input type = "email" name = "email">
			<br><br>
			<label>PASSWORD : </label>
			<input type = "password" name = "password">
			<br><br>
			<label>DOB : </label>
			<input type = "date" name = "dob">
			<br><br>	
			<label>GENDER : </label>
			<label>M</label><input type = "radio" name = "gender" value = "M">
			<label>F</label><input type = "radio" name = "gender" value = "F">
			<label>O</label><input type = "radio" name = "gender" value = "O">
			<br><br>
			<input type="submit" value = "SIGN UP">
			<hr>
			<a href = "/">Already have account? Login instead</a>
		</form>
	</body>
</html>